/* Tablet Styles */
@media screen and (max-width: 1024px) {
    .intro-section {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .name-title,
    .introducing-title,
    .job-title {
    width: 100%;
    text-align: center;
}

    .intro-left {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .profile-photo {
    max-width: 90%;
    height: auto;
    margin-bottom: 1rem;
}
    .introducing-text {
    order: 5;
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
}

    .name-title {
    order: 1;
}

    .job-title {
    order: 4;
}

    .introducing-title {
    order: 2;
}

.skills-section h2,
    .portfolio-section h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }


    .portfolio-images {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 300px));
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 4rem;
}

    .portfolio-images img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.imprint-content {
    margin-top: 2rem;
    border-radius: 30px;
    margin: 2rem 2rem;
}

.imprint-content h1 {
    font-size: 1rem;
}

.legal-text h2 {
    font-size: 1rem;
    margin-top: .8rem;
}

.legal-text p {
    font-size: 0.7rem;
  
}

.imprint-footer p {
    font-size: 1rem;
}
}



/* Mobile Styles */
@media screen and (max-width: 768px) {

    .name-title {
        font-size: 2.5rem; 
      }

      .introducing-title {
        font-size: 1.6rem;
       
      }


    .job-title {
        font-size: 1rem;
        margin-top: 0rem;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

      .intro-text {
        font-size: .8rem;
        line-height: 1.8;
        padding: 1rem 0rem;
      }


.intro-text::before,
.intro-text::after {
     
      content: none;
  
}
.quote-marks {
    display: inline; 
    font-family: 'Cormorant Garamond', serif;   
    color: var(--second-color);
    font-size: 1rem;
    margin: 0 0.5rem;
   
  }


        .profile-photo {
    height: 260px;
    width: 220px; 
    object-fit: cover;
    
        
  }




    .portfolio-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.3rem;
        padding: 0.5rem;
        margin-top: 3rem;
    }



    .portfolio-item {
        padding: 2rem 1rem;
    }

    .portfolio-title {
        font-size: 2.4rem;
    }

    .portfolio-slogan {
        font-size: 1.4rem;
    }

    .portfolio-zen-images {
       
        height: 200px;  
    }

  

    .button-download {
        text-align: center;
       
    }
}
 

/* Burger Menu Styles */
.burger-menu {
    display: none;
    
}

.burger {
    width: 50px;
    height: 36px;
    position: relative;
}

.burger span {
    display: block;
    width: 100%;
    height:7px;
    background: var(--primary-color); 
    border-radius: 20px;
    position: absolute;
    transition: all 0.3s ease;
}

.burger span:first-child {
    top: 0;
}

.burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger span:last-child {
    bottom: 0;
}

.burger.active span:first-child {
    transform: rotate(45deg);
    top: 50%;
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:last-child {
    transform: rotate(-45deg);
    bottom: 50%;
}

@media screen and (max-width: 940px) {
    .burger-menu {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1001;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .nav-box {
        position: fixed;
        top: 0;
        right: -100%;
        width: 10%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.95);
        transition: right 0.8s ease-in-out;
    }

    .nav-box.active {
        right: 0;
        width: 20%;
    }

    .nav-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.95);
    }

    .nav-link {
        font-size: 1.2rem;
        margin: 1rem 0;
        color: var(--primary-color);
    }
}












